@import "../../styles/scss/variables";

.cat-card {
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 500;
  }

  &__image {
    height: 470px;
    object-fit: cover;

    @media screen and (max-width: $screen-sm) {
      height: auto;
    }
  }
}
