<section id="main" class="main">
  <div class="container">
    <h1 class="main__title">Browse cats</h1>
    <div class="cat-filters">
      <form class="cat-filters__breed">
        <mat-form-field class="form-full-width" appearance="fill">
          <mat-label>Search by breed</mat-label>
          <input matInput placeholder="Abyssinian" value="" />
        </mat-form-field>
        <button mat-flat-button color="accent">Apply filters</button>
      </form>
    </div>
    <div class="cat-cards">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <app-cat-card *ngFor="let cat of cats" [cat]="cat"></app-cat-card>
    </div>
  </div>
  <mat-paginator
    *ngIf="!isLoading"
    [length]="paginatorLength"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]"
    aria-label="Select page"
  >
  </mat-paginator>
</section>
