<section id="main" class="main">
  <div class="container">
    <h1 class="mat-typography">Browse cats</h1>
    <div class="cat-filters">
      <form
        [formGroup]="filtersForm"
        (ngSubmit)="filterCats()"
        class="cat-filters__form"
      >
        <mat-form-field class="form-full-width" appearance="fill">
          <mat-label>Search by breed</mat-label>
          <input matInput placeholder="Abyssinian" formControlName="breed" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="accent">Apply filters</button>
      </form>
    </div>
    <div class="cat-cards">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div *ngIf="!isLoading && cats.length === 0">
        <h2 class="mat-typography" style="margin-bottom: 14px">
          No cats found :(
        </h2>
        <img
          width="220px"
          height="220px"
          src="https://c.tenor.com/2roX3uxz_68AAAAM/cat-space.gif"
          alt="Cat gif"
        />
      </div>
      <app-cat-card *ngFor="let cat of cats" [cat]="cat"></app-cat-card>
    </div>
  </div>
  <mat-paginator
    *ngIf="!isLoading && !noPagination"
    [length]="paginatorLength"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]"
    aria-label="Select page"
  >
  </mat-paginator>
</section>
