<section id="main" class="main">
  <div class="container">
    <h2 class="mat-typography">
      <mat-icon style="margin-bottom: -5px" color="warn">info</mat-icon>
      Note: due to <a href="https://docs.thecatapi.com/">api</a> limitations
      pagination doesn't work when using "Search by breed" field
    </h2>
    <h1 class="mat-typography">Browse cats</h1>
    <div class="cat-filters">
      <form
        [formGroup]="filtersForm"
        (ngSubmit)="filterCats()"
        class="cat-filters__form"
      >
        <mat-form-field
          class="form-full-width cat-filters__input"
          appearance="fill"
        >
          <mat-label>Search by breed</mat-label>
          <input matInput placeholder="Abyssinian" formControlName="breed" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field
          class="form-full-width cat-filters__input"
          appearance="fill"
        >
          <mat-label>List length</mat-label>
          <input matInput type="number" formControlName="pageSize" />
          <mat-icon matSuffix>list_alt</mat-icon>
        </mat-form-field>
        <button mat-flat-button color="accent" class="cat-filters__button">
          Apply filters
        </button>
      </form>
    </div>
    <div class="cat-cards">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div *ngIf="!isLoading && cats.length === 0">
        <h2 class="mat-typography" style="margin-bottom: 14px">
          No cats found :(
        </h2>
        <img
          width="220px"
          height="220px"
          src="https://c.tenor.com/2roX3uxz_68AAAAM/cat-space.gif"
          alt="Cat gif"
        />
      </div>
      <app-cat-card
        *ngFor="let cat of cats; let i = index"
        [cat]="cat"
        [index]="i"
      ></app-cat-card>
    </div>
  </div>
  <mat-paginator
    *ngIf="!isLoading && !noPagination"
    [length]="paginatorLength"
    [pageSize]="paginatorSize"
    [pageSizeOptions]="[5, 10, 25, 50]"
    aria-label="Select page"
    (page)="OnPageChange($event)"
  >
  </mat-paginator>
</section>
