#main {
  padding-top: 28px;

  .cat-filters {
    &__form {
      display: flex;
      flex-wrap: wrap;
      gap: 14px;

      & button {
        max-height: 52px;
        min-width: 107px;
      }
    }

    &__input {
      max-width: 275px;
    }
  }

  .cat-cards {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    padding-top: 14px;

    app-cat-card {
      max-width: 470px;
    }
  }
}
