@use "@angular/material" as mat;

@import "~@angular/material/theming";
@import "./app/styles/scss/variables";

@include mat.core();

$angular-primary: mat.define-palette(mat.$deep-purple-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-primary: mat.define-palette(mat.$brown-palette, 400, 200, 100);
$angular-dark-accent: mat.define-palette(
  mat.$light-blue-palette,
  300,
  100,
  500
);

$angular-dark-warn: mat.define-palette(mat.$red-palette);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-dark-primary,
      accent: $angular-dark-accent,
      warn: $angular-dark-warn,
    ),
  )
);

.dark-mode {
  @include mat.all-component-colors($angular-dark-theme);

  background-color: #272727;
  color: whitesmoke;

  $primary-color: #8d6e63;
  $secondary-color: #03a9f4;

  & a {
    color: $secondary-color;
  }

  .bg-primary {
    background-color: $primary-color;
  }

  .bg-accent {
    background-color: $secondary-color;
  }

  .color-primary {
    color: $primary-color;
  }

  .color-accent {
    color: $secondary-color;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-sm) {
    max-width: 540px;
  }

  @media (min-width: $screen-md) {
    max-width: 720px;
  }

  @media (min-width: $screen-lg) {
    max-width: 960px;
  }

  @media (min-width: $screen-xl) {
    max-width: 1140px;
  }

  @media (min-width: $screen-xxl) {
    max-width: 1320px;
  }
}

.form-full-width {
  width: 100%;
}

.bg-primary {
  background-color: #673ab7;
}

.bg-accent {
  background-color: #ffd740;
}

.color-accent {
  color: #ffd740;
}

.color-primary {
  color: #673ab7;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
